<html>
<body>
                    <h1>{track_name}</h1>
                    <a>None laptimes were added</a><br><br><br>
                    <a>Add your time:</a><br><br>
                           <form target="_self" method="post">
  <label for="driver">Your name:</label><br>
  <input type="text" id="driver" name="driver"><br>
  <label for="car">Car:</label><br>
  <input type="text" id="car" name="car"><br>
  <label for ="time">Your time:</label><br>
  <input type ="text" id="time" name = "time"><br>
  <input type="submit" value="Submit">
</body>
</html>